// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.bg-primary {
  background-color: $secondary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.services {
  background-color: #3F3F3F;
  color: #ced4da;
}

#contact {
  background-color: $gray-700;
  padding-bottom: 0;
  color: $gray-300;
}

.allegro-button {
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  transition:all 0.3s ease;
  &:hover {
    background-color: rgba(64, 136, 239, 0.5);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.mail {
  color: #ffe422
}

p.subtext {
  color: $gray-500;
}


#about {
  line-height: 1.7em;
  .title {
    font-weight: 700;
    color: #d6bb21;
  }
}

.ikonka{
  width: 80px;
  margin-bottom: 16px;
}

.bar-logo {
  width: 200px;
  height: 200px;
  position: relative;
  top: 20px;
  left: 20px;
}

.full-logo-not-displayed {
  display: none;
}

.logo {
  img {
    width: 350px;
  }
}

.display-none {
  display: none;
}

#bigLogo {
  position: absolute;
}

.centered-logo {
  width: 450px;
}